
body {
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 88%;
  background-color: black;
  color: greenyellow;
  font-family: sans-serif;
  height: 50px;
  padding: 2%;
  padding-left: 10%;
}

.left_header_text {
  float: left;
  font-size: 160%;
  font-weight: bold;
}

.right_header_text {
  font-size: 170%;
  float: right;
  padding-right: 7%;
  padding-bottom: 0.3vw;
  padding-top: 0.3vw;
  margin-top: 0.1vw;
}
.left_header_text > span {
  font-size: 150%;
}
.right_header_text > span {
  color: white;
  font-size: 110%;
}

.home_page {
  margin-top: 0px;
  width: 100%;
  height: 75vh;
  background-image: url(/images/interior_design2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.home_page::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 75vh;
}
.homepage_text_heading {
  position: relative;
  top: 24%;
  left: 24%;
  font-family: sans-serif;
  font-size: 350%;
  color: white;
}

.homepage_text_heading > span {
  font-weight: bold;
}

.homepage_sub_text {
  position: relative;
  top: 25%;
  left: 24%;
  color: white;
  opacity: 1.5;
}
.button {
  position: relative;
  top: 30%;
  left: 24%;
  border: none;
  background-color: greenyellow;
  border-radius: 5px;
  padding: 15px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 130%;
  margin: 4px 2px;
  height: 7vh;
  cursor: pointer;
}
.button:hover{
  background-color: rgb(107, 173, 6);
}
.button:active{
  background-color:rgb(46, 44, 44);
}


.cardview_container {
  position: relative;
  display: inline-block;
  width: 1100px;
  height: 540px;
  justify-items: center;
  margin: 2rem auto;
  top: -90px;
  margin-bottom: -7rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  float: left;
  width: 30%;
  height: auto;
  margin: 10px;
  padding: 0px;
  border-style:solid ;
  border-width:2px;
  border-color: rgb(207, 201, 201);
  padding-bottom: 15px;
}
.column > img{
  width: 100%;
  height: 250px;
}

.cardview_readmore_link{
    display:block;
    text-align: right;
    color: rgb(121, 167, 52);
}
.column > h3,p,a{
    padding-left: 10px;
    padding-right: 10px;
} 
.column > p{
  text-align: justify;
  font-size: 15px;
}



.grid-container{
    background-color: black;
    width: 100%;
    display:grid;
    grid-template-columns:1fr 1fr;
    height: auto;
}
#wel_img > img{
    height: 100%;
    width: 100%;
    padding: 0;
    content: url(/images/interior_design.jpg);
}

#wel_txt{
    width: 55%;
    text-align:left;
    padding: 15px;
}

#wel_txt > h1{
    color: greenyellow;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 250%;
}
#wel_txt > p{
    color: white;
    font-family: sans-serif;

}
#wel_txt > button{
    border: none;
    background-color: greenyellow;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 140%;
    margin: 20px 2px;
    height: 15%;
    width: 40%;
    cursor: pointer;
}
#wel_txt > button:hover{
  background-color: rgb(107, 173, 6);
}
#wel_txt > button:active{
  background-color:rgb(46, 44, 44);
}


.collections > h1{
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 35px;

}
.carousel{
    position: relative;
    width: 700px;
    height: 500px;
    border: none;
    margin: 30px auto 0;

}

.carousel-button{
    position: absolute;
    z-index: 2;
    background-color: greenyellow;
    border: none;
    font-size: 3rem;
    border-radius: 5px;
    top: 75%;
    cursor: pointer;
    padding: 0 .5rem;
}
.carousel-button:active{
    background-color: rgb(75, 74, 74);
}
.carousel-button.prev{
    left: 18rem;
}
.carousel-button.next{
    left: 23rem;
}

.carousel > ul{
    list-style: none;
    position: relative;
    width: 400px;
    height: 350px;
    margin: 0;
    padding: 0;
}

.carousel > ul > li {
    overflow: hidden;
    position: absolute;
    left: 500px;
    top: 247px;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.slide[data-active]{
    z-index:2;
    position: absolute;
    width: 300px;
    height: 300px;
    top: -0.1rem;
    left: 12rem;
}

.slide[data-prev]{
    z-index:1;
    position: absolute;
    width: 275px;
    height: 275px;
    left: -7rem;
    top : 1rem;
}

.slide[data-next]{
    z-index:1;
    position: absolute;
    width: 275px;
    height: 275px;
    left: 32.6rem;
    top : 1rem;

}

.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}

#hire_me_form_container {
  background-color: black;
  width: 100%;
  height: 60vh;
  position: relative;
  display: block;
  text-align: center;
}
.form_content {
  position: relative;
  top: 10%;
}
.form_title {
  color: greenyellow;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  font-size: 250%;
}
#hire_me_form {
  display: inline-block;
}
.left {
  float: left;
  margin: 10px;
}
.clear {
  clear: both;
}

#full_name,
#email_adress,
#phone_number {
  height: 6vh;
  font-size: 10pt;
}
#message {
  height: 15vh;
}

.submit_button {
  border: none;
  background-color: greenyellow;
  border-radius: 5px;
  padding: 15px 20px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 130%;
  margin: 4px 2px;
  height: 8%;
  width: 25%;
  cursor: pointer;
}
.submit_button:hover{
  background-color: rgb(107, 173, 6);
}
.submit_button:active{
  background-color:rgb(46, 44, 44);
}

footer {
  position: relative;
  background-color: rgb(61, 60, 60);
  width: auto;
  height: 8vh;
  padding: 1%;
  color: white;
  font-family: sans-serif;
}
.left_footer_text {
  float: left;
  margin-top: 1.5%;
  margin-left: 10%;
}
.right_footer_text {
  float: right;
  padding-right: 7%;
}
.right_footer_text > p > span {
  font-weight: bold;
  font-size: 25px;
}


/* responsive media properties */

@media screen and (max-width: 1200px){
  
  header{
    width: 92%;
    height: 40px;
    padding-left: 7%;
  }

  .left_header_text{
    font-size: 140%;
  }

  .right_header_text{
    font-size: 140%;
  }

  .home_page{
    width: 100%;
    height: 67vh;
  }
  .home_page::before{
    height: 67vh;
  }
  .homepage_text_heading{
    font-size: 270%;
    top: 22%;
    left: 21%;
  }
  .homepage_sub_text{
    top: 23%;
    left: 21%;
  }
  .button{
    left: 21%;
    top: 26%;
    font-size: 110%;
    padding: 7px 15px;
    height: 3rem;
  }

  .cardview_container{
    width: 850px;
    height: 470px;
    margin: 1.5rem auto;
    top: -70px;
    margin-bottom: -3.5rem;
  }
  .column{
    width: 30%;
    height: 420px;
    margin: 8px;
    padding-bottom: 10px;
  }
  .column>img{
    width: 100%;
    height: 210px;
    src: local()
  }
  .column> p{
    font-size: 14px;
  }

  .grid-container{
    width: 100%;
    height: 430px;
  }
  #wel_img> img{
    height: 430px;
    width: 100%;
    content: url(/images/interior_design3.jpg);
  }
  #wel_txt{
    width: 70%;
    padding: 8px;
  }
  #wel_txt > h1{
    font-size: 200%;
  }
  #wel_txt > p{
    font-size: 14px;
  }
  #wel_txt> button{
    padding: 7px 10px;
    font-size: 110%;
    width: 50%;
    height: 14%;
  }

  .carousel{
    width: 500px;
    height: 350px;
    margin: 20px auto 0;
  }
  .carousel-button{
    font-size: 2rem;
    top: 80%;
  }
  .carousel-button.prev{
    left: 13.5rem;
  }
  .carousel-button.next{
    left: 17.5rem;
  }
  .carousel > ul{
    width: 300px;
    height: 250px;
  }
  .carousel> ul> li{
    left: 300px;
    top: 220px;
  }
  .slide[data-active]{
    width: 250px;
    height: 250px;
    left: 9rem;
  }
  .slide[data-prev]{
    width: 225px;
    height: 225px;
    left: -6.9rem;
  }
  .slide[data-next]{
    width: 225px;
    height: 225px;
    left: 26.3rem;
  }
  
  #hire_me_form_container{
    height: 47vh;
  }
  .form_content{
    top: 7%;
  }
  .form_title{
    font-size: 200%;
  }
  #full_name, #email_adress, #phone_number{
    height: 4vh;
    width: 20vh;
  }
  #message{
    height: 12vh;
    width: 67vh;
  }
  .submit_button{
    padding: 10px 15px;
    font-size: 115%;
    width: 22%;
  }

  .left_footer_text{
    margin-left: 6%;
    margin-top: 1.9%;
  }

  .right_footer_text> p > span{
    font-size: 20px;
  }
}


@media screen and (max-width: 992px){
    
  header{
    width: 100%;
    height: 32px;
    padding-left: 3%;
  }
  .left_header_text{
    font-size: 110%;
  }
  .right_header_text{
    font-size: 110%;
  }

  .home_page{
    height: 60vh;
  }
  .home_page::before{
    height: 60vh;
  }
  .homepage_text_heading{
    font-size: 230%;
    top: 19%;
    left: 19%;
  }
  .homepage_sub_text{
    top: 20%;
    left: 19%;
  }
  .button{
    left: 19%;
    top: 23%;
    font-size: 100%;
    padding: 6px 14px;
    height: 2.7rem;
  }

  .cardview_container{
    width: 800px;
    height: 430px;
    margin: 1.2rem auto;
    top: -70px;
    margin-bottom: -2rem;
  }

  .grid-container{
    height: 390px;
    width: 100%;
  }
  #wel_img> img{
    height: 390px;
    width: 100%;
    content: url(/images/interior_design3.jpg);
  }
  #wel_txt{
    width: 95%;
    text-align:justify;
    padding: 6px;
  }
  #wel_txt> h1{
    font-size: 170%;
    padding-left: 10px;
  }
  #wel_txt>button{
    padding: 5px 3px;
    margin-left: 15px;
    font-size: 100%;
    width: 40%;
    height: 10%;
  }
}
  
  
